h1 {
    text-align: center;
    margin-top: 10px;
}

table {
    width: 85%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: azure;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

table thead th {
    border: 2px solid black ;
    background-color: rgb(209, 249, 249);
    padding: 10px;
}

table tbody td {
    border: 1px solid black ;
    padding: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 7.5%;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}